.mainbackground {
  background: rgb(182, 33, 254);
  background: linear-gradient(90deg, rgba(182, 33, 254, 1) 0%, rgba(31, 209, 249, 1) 100%);
}


.main-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.hrcolor {
  background-color: white;
  height: 0.5px;
  border: 0;
  opacity: .25;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ourproduct {
  text-align: center;
  padding: 30px 10px 60px 10px;
  font-family: inherit;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 600;
  color: white;
  letter-spacing: .005em;

}

.news {
  padding: 50px 10px 0px 10px;
  font-family: inherit;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 500;
}


.flex-container {
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(5) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(6) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}




.flex-container2 {
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.flex-items2:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items2:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items2:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items2:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.product-cover {
  box-shadow: 10px;
  padding: 10px 50px 50px 50px;

}